/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Noto Sans', sans-serif;
  background: #FBFBFF;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fjalla One', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
}
img {
  max-width: 100%;
  height: auto;
}
.full-page-container {
  margin: 0 5%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background: #F2CBFA;
}
header h1 {
  margin-left: 8.5%;
}
header img {
  margin-left: 0.5%;
  height: 75px;
}
.nav-and-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: 0 0.5%;
}
.nav-and-button a {
  font-family: 'Noto Sans', sans-serif;
  color: #0D0106;
  letter-spacing: 0.1rem;
  text-decoration: none;
  font-size: 1.5rem;
}
.nav-and-button button {
  display: block;
  background-color: #FF331F;
  cursor: pointer;
  width: 100px;
  height: 30px;
  font-size: 1rem;
  border-radius: 15px;
  color: #FBFBFF;
}
.top-content {
  background-image: url(../img/mainphoto2.jpg);
  background-size: cover;
  text-align: center;
  position: relative;
  margin-top: 5%;
  margin-right: 3%;
  width: 280%;
  height: 100vh;
}
.top-content .top-content-text {
  text-align: center;
  color: #FF331F;
  padding-top: 5%;
  margin-top: 225px;
}
.top-content .top-content-text h2 {
  font-size: 6.5rem;
}
.top-content button {
  background-color: #FF331F;
  cursor: pointer;
  width: 200px;
  height: 40px;
  font-size: 2.5rem;
  border-radius: 30px;
  color: #FBFBFF;
  margin-top: 10%;
}
.top-content button:hover {
  background-color: #FBFBFF;
  color: #FF331F;
}
.product-content {
  margin-top: 0;
}
.top-and-bottom-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.product-content {
  margin-top: 12%;
}
.product-content img {
  max-width: 40%;
  max-height: 15%;
  border-radius: 2rem;
}
.product-content p {
  font-size: 2rem;
}
.technology-content {
  margin-top: 20%;
}
.technology-content img {
  max-width: 40%;
  max-height: 15%;
  border-radius: 2rem;
  margin-left: 60%;
}
.technology-content p {
  font-size: 2rem;
}
.title-picture h2 {
  margin-left: 2%;
  margin-bottom: 2%;
}
.title-picture2 h2 {
  margin-left: 65%;
  margin-bottom: 2%;
}
footer {
  text-align: center;
  margin-top: 2%;
}
