// Color assignments 
@font-color: @black;
@button-bg: @orange;
@main-bg:  @white;
@nav-bg: @pink;
@footer-bg: @light-blue;

// Colors
@black: #0D0106;
@pink: #F2CBFA;
@light-blue: #657ED4;
@orange: #FF331F;
@white: #FBFBFF;

//Fonts
@header_font: 'Fjalla One', sans-serif;
@body_font: 'Noto Sans', sans-serif;

// Escaping

@phone: ~'( max-width: 500px )';